<div class="contenido">
  <mat-toolbar color="primary">
    <span>Formulario Scout</span>
  </mat-toolbar>

  <div class="titulo">
    <h2> Crea un nuevo evento de forma sencilla con este formulario </h2>
  </div>
  <div class="formBox">
    <div class="form">
      <mat-form-field>
        <mat-label>¿Cuál es el destino?</mat-label>
        <input matInput placeholder="Destino" [(ngModel)]="destino" >
      </mat-form-field>
      <div class ="form-line">
        <mat-form-field>
          <mat-label>Introduce día de ida </mat-label>
          <input matInput [matDatepicker]="Ida" [(ngModel)] ="fechaIda" [min]="diaHoy" (dateChange) ="setFechaVuelta()">
          <mat-datepicker-toggle matSuffix [for]="Ida"></mat-datepicker-toggle>
          <mat-datepicker touchUi #Ida></mat-datepicker>
        </mat-form-field>
          <div class="timepicker">
            <mat-form-field>
              <mat-label>Introduce hora de salida</mat-label>
              <input matInput [ngxTimepicker]="toggleTimepicker" [(ngModel)]="horaHoy" [format]="24">
              <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>

            </mat-form-field>

          </div>


      </div>
      <mat-form-field>
        <mat-label>Introduce lugar recogida a la ida</mat-label>
        <input matInput placeholder="Vuelta" [(ngModel)]="lugarRecogidaIda" class="w60" >
      </mat-form-field>

      <div class ="form-line">
        <mat-form-field>
          <mat-label>Introduce día de vuelta </mat-label>
          <input matInput [matDatepicker]="Vuelta" [(ngModel)] ="fechaVuelta" [min]="fechaIda">
          <mat-datepicker-toggle matSuffix [for]="Vuelta"></mat-datepicker-toggle>
          <mat-datepicker touchUi #Vuelta></mat-datepicker>
        </mat-form-field>
        <div class="timepicker">
          <mat-form-field>
            <mat-label>Introduce hora de vuelta</mat-label>
            <input matInput [ngxTimepicker]="vueltaTimepicker" [(ngModel)]="horaHoy" [format]="24">
            <ngx-material-timepicker #vueltaTimepicker></ngx-material-timepicker>

          </mat-form-field>

        </div>


      </div>
      <mat-form-field>
        <mat-label>Lugar de recogida a la vuelta</mat-label>
        <input matInput placeholder="Vuelta" [(ngModel)]="lugarRecogidaVuelta" class="w60" >
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="toString(precio, horaIda, horaVuelta, lugarRecogidaIda, lugarRecogidaVuelta, destino, diaIda, diaVuelta)">Generar texto </button>

    </div>
  </div>

  <div class="footer">
    <p> Designed by Jorge Giménez Duro <3 </p>
  </div>

</div>










<router-outlet></router-outlet>
